<h1 style="color: #e0e0e0; border-left: 5px solid #fdcb00; padding-left: 10px"> Principais eventos</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <% @carousel.each do |event| %>
        <div class="carousel-item <%= @carousel.first.id == event.id ? 'active' : '' %>">
          <%= link_to (image_tag event.image, size: '800x500',
          id: 'carousel-images', class: 'd-block w-100'), 
          site_event_path(event),  class: 'slide-image' %>
          <div class="carousel-caption d-none d-md-block">
            <h4 class="event-title"><%= event.title %></h4>
            <p class="event-description"><%= event.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>